:root {
  --water-color: #3fa9f5;
  --hill-color: #c69c6d;
  --desert-color: #f15a24;
  --marsh-color: #662d91;
  --plain-color: #fbb03b;
  --jungle-color: #009245;
  --burnished-plain-color: lightgrey;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#sea-ringed-world {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
#sochitlan-outline,
#tyr-outline,
#athon-outline,
#iwitlan-outline,
#elyss-outline,
#burnished-plains-outline,
#shabara-outline {
  fill: rgba(250, 250, 250, 0);
  /* stroke: black; */
  /* stroke-width: 3; */
}

polygon {
  transition: all ease-in 300ms;
}

/* svg group fill and hover */
#athon,
#sochitlan,
#tyr,
#iwitlan,
#elyss,
#burnished-plains,
#shabara {
  stroke-width: 0;
  stroke: none;
  fill: rgba(255, 255, 255, 0.9);
}

/* #athon {
  fill: rgba(161, 0, 0, 1);
}

#sochitlan {
  fill: rgba(236, 177, 0, 1);
}

#iwitlan {
  fill: rgba(0, 100, 0, 1);
}

#tyr {
  fill: rgba(220, 220, 220, 1);
}

#elyss {
  fill: rgba(0, 128, 128, 1);
}

#burnished-plains {
  fill: rgba(70, 130, 180, 1);
}

#shabara {
  fill: rgba(40, 40, 40, 1);
} */

.container {
  margin-top: 3rem;
  width: 90%;
  max-width: 1160px;
  height: 90vh;
  max-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 5%;
}
.map-feature {
  stroke: white;
  stroke-width: 5;
}
.map-feature:hover {
  fill: #000;
}

.legend {
  /* width: 90%; */
  margin: 0 auto;
}
.legend .title {
  text-align: center;
  margin-bottom: 3rem;
}
.legend .description {
  line-height: 1.7;
}

@media only screen and (min-width: 600px) {
  .md-flex {
    display: flex;
  }

  .legend-column {
    width: 40%;
    min-width: 300px;
  }
  .map-column {
    width: 55%;
    align-self: center;
  }
}

#world:hover > g:not(:hover) > polygon {
  fill: rgba(0, 0, 0, 0.9);
}

#rivers {
  fill: none;
  stroke: var(--water-color);
  stroke-width: 3;
}
#icons {
  fill: #8b4513;
  stroke: black;
}
g[data-name="marshes"] > polygon,
.marshes-icon {
  fill: var(--marsh-color);
}

g[data-name="waters"] > polygon,
.waters-icon {
  fill: var(--water-color);
}

g[data-name="hills"] > polygon,
.hills-icon {
  fill: var(--hill-color);
}

g[data-name="plains"] > polygon,
.plains-icon {
  fill: var(--plain-color);
}
g[data-name="deserts"] > polygon,
.desert-icon {
  fill: var(--desert-color);
}
g[data-name="jungles"] > polygon,
.jungles-icon {
  fill: var(--jungle-color);
}
g[data-name="burnished-plains"] > polygon,
.burnished-plains-icon {
  fill: var(--burnished-plain-color);
}
