@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
:root {
  --water-color: #3fa9f5;
  --hill-color: #c69c6d;
  --desert-color: #f15a24;
  --marsh-color: #662d91;
  --plain-color: #fbb03b;
  --jungle-color: #009245;
  --burnished-plain-color: lightgrey;
  --black: #232323;
}

body {
  margin: 0;
}
.App {
  background-color: var(--black);
  color: white;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
.navbar-brand {
  font-family: "Cinzel Decorative", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#sea-ringed-world {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
#sochitlan-outline,
#tyr-outline,
#athon-outline,
#iwitlan-outline,
#elyss-outline,
#burnished-plains-outline,
#shabara-outline {
  fill: rgba(250, 250, 250, 0);
  /* stroke: black; */
  /* stroke-width: 3; */
}

polygon {
  transition: all ease-in 300ms;
}

/* svg group fill and hover */
#athon,
#sochitlan,
#tyr,
#iwitlan,
#elyss,
#burnished-plains,
#shabara {
  stroke-width: 0;
  stroke: none;
  fill: rgba(255, 255, 255, 0.9);
}

/* #athon {
  fill: rgba(161, 0, 0, 1);
}

#sochitlan {
  fill: rgba(236, 177, 0, 1);
}

#iwitlan {
  fill: rgba(0, 100, 0, 1);
}

#tyr {
  fill: rgba(220, 220, 220, 1);
}

#elyss {
  fill: rgba(0, 128, 128, 1);
}

#burnished-plains {
  fill: rgba(70, 130, 180, 1);
}

#shabara {
  fill: rgba(40, 40, 40, 1);
} */

.c-container {
  margin-top: 3rem;
  width: 90%;
  /* max-width: 1160px; */
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  grid-template-columns: 5.5fr 6fr 1.5fr;
  gap: 5%;
  /* overflow-y: hidden; */
}
.map-feature {
  stroke: white;
  stroke-width: 5;
}
.map-feature:hover {
  fill: #000;
}

.description .title {
  text-align: center;
  margin-bottom: 3rem;
}
.description {
  line-height: 1.5;
}
.legend-container {
  height: 100%;
  max-height: 100%;
  position: relative;
}
.legend {
  width: 100%;
  display: block;
  position: absolute;
}
.legend text {
  stroke: white;
  font-weight: 300;
}
@media only screen and (min-width: 800px) {
  .grid {
    display: grid;
  }

  .map-column {
    /* align-self: center; */
    order: 2;
    /* border: 2px solid orange; */
    max-height: 100%;
  }
  .description-column {
    /* align-self: center; */
    padding: 0 1rem;
    order: 1;
    /* border: 2px solid orange; */
  }
  .legend-column {
    order: 4;
    /* border: 2px solid orange; */
  }
}

#world:hover > g:not(:hover) > polygon {
  fill: rgba(0, 0, 0, 0.75);
}

#rivers {
  fill: none;
  stroke: var(--water-color);
  stroke-width: 3;
}
#icons {
  fill: #8b4513;
  stroke: black;
}
g[data-name="marshes"] > polygon,
.marshes-icon {
  fill: var(--marsh-color);
}

g[data-name="waters"] > polygon,
.waters-icon {
  fill: var(--water-color);
}

g[data-name="hills"] > polygon,
.hills-icon {
  fill: var(--hill-color);
}

g[data-name="plains"] > polygon,
.plains-icon {
  fill: var(--plain-color);
}
g[data-name="deserts"] > polygon,
.desert-icon {
  fill: var(--desert-color);
}
g[data-name="jungles"] > polygon,
.jungles-icon {
  fill: var(--jungle-color);
}
g[data-name="burnished-plains"] > polygon,
.burnished-plains-icon {
  fill: var(--burnished-plain-color);
}

header#header {
  background-color: var(--black);
  color: white;
}

.fullpage {
  min-height: 95vh;
  display: grid;
  place-content: center;
  text-align: center;
}
div.dropdown-menu {
  background-color: #343434;
  color: white;
}

div.dropdown-menu .dropdown-item {
  color: white;
}

div.dropdown-menu .dropdown-item.disabled {
  color: #888;
}

div.dropdown-menu .dropdown-item:hover,
div.dropdown-menu .dropdown-item:active,
div.dropdown-menu .dropdown-item:focus {
  background-color: #434343;
}

.code {
  font-family: "Syne Mono", monospace;
  color: white;
  font-size: 25px;
}
